@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  background-color: $principal-color;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-image: url("../../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
